In [5]:
import pandas as pd
import psycopg2
import sqlalchemy
import config
import json
import numpy as np
import scrape

In [6]:
scrape.scrape_bls()

Table 'blsdata' already exists.

In [7]:
from sqlalchemy import create_engine
from config import password
Engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Employee_Turnover")
Connection = Engine.connect()
initial_df=pd.read_sql("select * from turnover_data", Connection)
bls_df=pd.read_sql("select * from blsdata", Connection)
Connection.close()

In [15]:
bls_df.drop(bls_df.index[[35,36]])
bls_df.drop("index",axis=1,inplace=True)
bls_df.head()

  Industry and region  2015  2016  2017  2018  2019
0               Total  42.3  42.6  43.3  44.5  45.0
1            INDUSTRY
2       Total private  46.8  47.0  47.8  49.1  49.6
3  Mining and logging  55.6  58.8  48.4  54.1  47.0
4        Construction  56.4  58.3  61.4  57.8  64.8

In [ ]:
# Clean data: remove less helpful columns; rename values to be more user-friendly
df = initial_df.drop(['index','EducationField','EmployeeCount','EmployeeNumber','Education','StandardHours','JobRole','MaritalStatus',
                      'DailyRate','MonthlyRate','HourlyRate','Over18','OverTime','TotalWorkingYears'], axis=1).drop_duplicates()
df.rename(columns={'Attrition': 'Employment Status','BusinessTravel':'Business Travel','DistanceFromHome':'Commute (Miles)','EnvironmentSatisfaction':'Environment Satisfaction',
                  'JobInvolvement':'Job Involvement','JobLevel':'Job Level','JobSatisfaction':'Job Satisfaction',
                  'MonthlyIncome':'Monthly Income','NumCompaniesWorked':'Num Companies Worked','PercentSalaryHike':'Last Increase %',
                  'PerformanceRating':'Performance Rating','RelationshipSatisfaction':'Relationship Satisfaction','StockOptionLevel':'Stock Option Level',
                  'TrainingTimesLastYear':'Training Last Year','WorkLifeBalance':'Work/Life Balance','YearsAtCompany':'Tenure (Years)',
                  'YearsInCurrentRole':'Years in Role','YearsSinceLastPromotion':'Years Since Promotion','YearsWithCurrManager':'Years with Manager'}, inplace = True)

df['Employment Status'] = df['Employment Status'].replace(['No','Yes'],['Active','Terminated'])
df['Business Travel'] = df['Business Travel'].replace(['Travel_Rarely','Travel_Frequently','Non-Travel'],['Rare','Frequent','None'])

columns = list(df)
print(columns)
df.head()

In [ ]:
factors = ['Age', 'Business Travel', 'Department', 'Commute (Miles)', 'Environment Satisfaction', 'Gender', 'Job Involvement', 'Job Level', 'Job Satisfaction', 'Monthly Income', 'Performance Rating', 'Relationship Satisfaction', 'Stock Option Level', 'Training Last Year']

In [ ]:
count18to29 = 0
count30to39 = 0
count40to49 = 0
count50to59 = 0
count60up = 0


for x in df['Age']:
    
    if x >=18 and x<30:
        count18to29 += 1              
      
    elif x >= 30 and x<40:
        count30to39 += 1
               
    elif x >= 40 and x<50:
        count40to49 += 1
        
    elif x >= 50 and x<60:
        count50to59 += 1
     
    elif x >= 60: 
        count60up += 1
        
    else: pass

In [ ]:
age18to29_df= df.loc[(df['Age']>=18) & (df['Age']<30)]
age18to29_act_df=age18to29_df.loc[(df['Employment Status'] == 'Active')]
age18to29_term_df=age18to29_df.loc[(df['Employment Status'] == 'Terminated')]

age30to39_df= df.loc[(df['Age']>=30) & (df['Age']<40)]
age30to39_act_df=age30to39_df.loc[(df['Employment Status'] == 'Active')]
age30to39_term_df=age30to39_df.loc[(df['Employment Status'] == 'Terminated')]

age40to49_df= df.loc[(df['Age']>=40) & (df['Age']<50)]
age40to49_act_df=age40to49_df.loc[(df['Employment Status'] == 'Active')]
age40to49_term_df=age40to49_df.loc[(df['Employment Status'] == 'Terminated')]

age50to59_df= df.loc[(df['Age']>=50) & (df['Age']<60)]
age50to59_act_df=age50to59_df.loc[(df['Employment Status'] == 'Active')]
age50to59_term_df=age50to59_df.loc[(df['Employment Status'] == 'Terminated')]

age60up_df= df.loc[(df['Age']>=60)]
age60up_act_df=age60up_df.loc[(df['Employment Status'] == 'Active')]
age60up_term_df=age60up_df.loc[(df['Employment Status'] == 'Terminated')]


per18to29Act=round((len(age18to29_act_df)/count18to29*100),1)
per18to29Term=round((len(age18to29_term_df)/count18to29*100),1)
per30to39Act=round((len(age30to39_act_df)/count30to39*100),1)
per30to39Term=round((len(age30to39_term_df)/count30to39*100),1)
per40to49Act=round((len(age40to49_act_df)/count40to49*100),1)
per40to49Term=round((len(age40to49_term_df)/count40to49*100),1)
per50to59Act=round((len(age50to59_act_df)/count50to59*100),1)
per50to59Term=round((len(age50to59_term_df)/count50to59*100),1)
per60upAct=round((len(age60up_act_df)/count60up*100),1)
per60upTerm=round((len(age60up_term_df)/count60up*100),1)

In [ ]:
age_dict={}

age_dict['18_to_29Act'] = per18to29Act
age_dict['18_to_29Term'] = per18to29Term
age_dict['30_to_39Act'] = per30to39Act
age_dict['30_to_39Term'] = per30to39Term
age_dict['40_to_49Act'] = per40to49Act
age_dict['40_to_49Term'] = per40to49Term
age_dict['50_to_59Act'] = per50to59Act
age_dict['50_to_59Term'] = per50to59Term
age_dict['60upAct'] = per60upAct
age_dict['60upTerm'] = per60upTerm

parsed = json.loads(json.dumps(age_dict))
json_age=json.dumps(parsed, indent=4, sort_keys=True)

In [ ]:
new_df=df.groupby(["Business Travel","Employment Status"]).count().reset_index()
new_df.head(8)

In [ ]:
trav_df = new_df["Age"].astype(float) 
trav_df.head(6)

In [ ]:
none_act=trav_df[2]
none_term=trav_df[3]
none_total=none_act + none_term
rare_act=trav_df[4]
rare_term=trav_df[5]
rare_total=rare_act + rare_term
freq_act=trav_df[0]
freq_term=trav_df[1]
freq_total=freq_act+freq_term

none_act_rate=(none_act/none_total*100).round(1)
none_term_rate=(none_term/none_total*100).round(1)
rare_act_rate=(rare_act/rare_total*100).round(1)
rare__term_rate=(rare_term/rare_total*100).round(1)
freq_act_rate=(freq_act/freq_total*100).round(1)
freq_term_rate=(freq_term/freq_total*100).round(1)

In [ ]:
trav_dict = {}

trav_dict['factor'] = 'Business Travel'
trav_dict['category'] = ['None','Rare','Frequent']
trav_dict['counts'] = [none_total,rare_total,freq_total]
trav_dict['Active'] = [none_act_rate,rare_act_rate,freq_act_rate]
trav_dict['Terminated'] = [none_term_rate, rare_term_rate, freq_term_rate]

In [ ]:
new_dep_df=df.groupby(["Department","Employment Status"]).count().reset_index()
new_dep_df.head()

In [ ]:
dept_df = new_dep_df["Age"].astype(float) 
dept_df.head(6)

In [ ]:
hr_act=dept_df[0]
hr_term=dept_df[1]
hr_total=hr_act + hr_term
rd_act=dept_df[2]
rd_term=dept_df[3]
rd_total=rd_act + rd_term
sales_act=dept_df[4]
sales_term=dept_df[5]
sales_total=sales_act+sales_term

hr_act_rate=(hr_act/hr_total*100).round(1)
hr_term_rate=(hr_term/hr_total*100).round(1)
rd_act_rate=(rd_act/rd_total*100).round(1)
rd_term_rate=(rd_term/rd_total*100).round(1)
sales_act_rate=(sales_act/sales_total*100).round(1)
sales_term_rate=(sales_term/sales_total*100).round(1)

In [ ]:
dept_dict = {}

dept_dict['factor'] = 'Department'
dept_dict['category'] = ['HR','R&D','Sales']
dept_dict['counts'] = [hr_total,rd_total,sales_total]
dept_dict['Active'] = [hr_act_rate,rd_act_rate,sales_act_rate]
dept_dict['Terminated'] = [hr_term_rate, rd_term_rate, sales_term_rate]

In [ ]:
jobIn_df=df.groupby(["Job Involvement","Employment Status"]).count().reset_index()    

jobIn_df.head(8)

In [ ]:
JI=jobIn_df["Age"].astype(float)
JI.head(8)
type(JI)

In [ ]:
JI1_act=JI[0]
JI1_term=JI[1]
JI1_total=(JI1_act + JI1_term)
JI2_act=JI[2]
JI2_term=JI[3]
JI2_total=(JI2_act + JI2_term)
JI3_act=JI[4]
JI3_term=JI[5]
JI3_total=(JI3_act + JI3_term)
JI4_act=JI[6]
JI4_term=JI[7]
JI4_total=(JI4_act + JI4_term)

rateJI1_act=(JI1_act/JI1_total*100).round(1)
rateJI1_term=(JI1_term/JI1_total*100).round(1)
rateJI2_act=(JI2_act/JI2_total*100).round(1)
rateJI2_term=(JI2_term/JI2_total*100).round(1)
rateJI3_act=(JI3_act/JI3_total*100).round(1)
rateJI3_term=(JI3_term/JI3_total*100).round(1)
rateJI4_act=(JI4_act/JI4_total*100).round(1)
rateJI4_term=(JI4_term/JI4_total*100).round(1)

jobInvol_dict={}

jobInvol_dict['factor'] = 'Job Involvement'
jobInvol_dict['category'] = ['1','2','3','4']
jobInvol_dict['counts'] = [JI1_total, JI2_total, JI3_total, JI4_total]
jobInvol_dict['Active'] = [rateJI1_act, rateJI2_act, rateJI3_act, rateJI4_act]
jobInvol_dict['Terminated'] = [rateJI1_term, rateJI2_term, rateJI3_term, rateJI4_term]

In [ ]:
gender_df=df.groupby(["Gender","Employment Status"]).count().reset_index()
gender_df = gender_df["Age"].astype(float) 
gender_df.head()

In [ ]:
fem_act_count=gender_df[0]
fem_term_count=gender_df[1]
fem_count=fem_act_count+fem_term_count
male_act_count=gender_df[2]
male_term_count=gender_df[3]
male_count=male_act_count+male_term_count
fem_act_rate=(fem_act_count/fem_count*100).round(1)
fem_term_rate=(fem_term_count/fem_count*100).round(1)
male_act_rate=(male_act_count/male_count*100).round(1)
male_term_rate=(male_term_count/male_count*100).round(1)
print(male_act_rate,male_term_rate)

In [ ]:
gender_dict = {}

gender_dict['factor'] = 'Gender'
gender_dict['category'] = ['Male','Female']
gender_dict['counts'] = [male_count, fem_count]
gender_dict['Active'] = [male_act_rate, fem_act_rate]
gender_dict['Terminated'] = [male_term_rate, fem_term_rate]

In [ ]:
perf_df=df.groupby(["Performance Rating","Employment Status"]).count().reset_index()

In [ ]:
perf_df=perf_df["Age"].astype(float)

In [ ]:
count1_total=0
count2_total=0
count3_act=perf_df[0]
count3_term=perf_df[1]
count4_act=perf_df[2]
count4_term=perf_df[3]
count3_total=count3_act+count3_term
count4_total=count4_act+count4_term

rate1_act=0
rate1_term=0
rate2_act=0
rate2_term=0
rate3_act=(count3_act/count3_total*100).round(1)
rate3_term=(count3_term/count3_total*100).round(1)
rate4_act=(count4_act/count4_total*100).round(1)
rate4_term=(count4_term/count4_total*100).round(1)

perf_dict={}

perf_dict['factor'] = 'Performance Rating'
perf_dict['category'] = ['1','2','3','4']
perf_dict['counts'] = [count1_total, count2_total, count3_total, count4_total]
perf_dict['Active'] = [rate1_act, rate2_act, rate3_act, rate4_act]
perf_dict['Terminated'] = [rate1_term,rate2_term,rate3_term,rate4_term]

In [ ]:
# Job Satisfaction 
js_df=df.groupby(["Job Satisfaction","Employment Status"]).count().reset_index()

In [ ]:
js=js_df["Age"].astype(int)

In [ ]:
actjs1 = js[0]
terjs1 = js[1]
alljs1 = js[0] + js[1]
actjs2 = js[2]
terjs2 = js[3]
alljs2 = js[2] + js[3]
actjs3 = js[4]
terjs3 = js[5]
alljs3 = js[4] + js[5]
actjs4 = js[6]
terjs4 = js[7]
alljs4 = js[6] + js[7]

rate_actjs1 = (actjs1/alljs1*100).round(1)
rate_actjs2 = (actjs2/alljs2*100).round(1)
rate_actjs3 = (actjs3/alljs3*100).round(1)
rate_actjs4 = (actjs4/alljs4*100).round(1)
rate_termjs1 = (terjs1/alljs1*100).round(1)
rate_termjs2 = (terjs2/alljs2*100).round(1)
rate_termjs3 = (terjs3/alljs3*100).round(1)
rate_termjs4 = (terjs4/alljs4*100).round(1)

js_dict = {}

js_dict['factor'] = 'Job Satisfaction'
js_dict['category'] = ['1','2','3','4']
js_dict['counts'] = [alljs1,alljs2,alljs3,alljs4]
js_dict['Active'] = [rate_actjs1, rate_actjs2, rate_actjs3, rate_actjs4]
js_dict['Terminated'] = [rate_termjs1, rate_termjs2, rate_termjs3, rate_termjs4]

In [ ]:
# Monthly Income
bins = [1000, 3000, 5000, 7000, 20000]
labels=['<$3000','$3000-4999','$5000-6999','$7000 and up']

groups = df.groupby(['Employment Status', pd.cut(df['Monthly Income'], bins=bins, labels=labels)])
mi=groups.size().reset_index().rename(columns={0:"Count"})

In [ ]:
mi1_act=int(mi.iloc[0,2])
mi1_term=int(mi.iloc[4,2])
mi1_total=int((mi1_act + mi1_term))
mi2_act=int(mi.iloc[1,2])
mi2_term=int(mi.iloc[5,2])
mi2_total=int((mi2_act + mi2_term))
mi3_act=int(mi.iloc[2,2])
mi3_term=int(mi.iloc[6,2])
mi3_total=int((mi3_act + mi3_term))
mi4_act=int(mi.iloc[3,2])
mi4_term=int(mi.iloc[7,2])
mi4_total=int((mi4_act + mi4_term))

rate_mi1_act=(mi1_act/mi1_total*100)
rate_mi1_term=(mi1_term/mi1_total*100)
rate_mi2_act=(mi2_act/mi2_total*100)
rate_mi2_term=(mi2_term/mi2_total*100)
rate_mi3_act=(mi3_act/mi3_total*100)
rate_mi3_term=(mi3_term/mi3_total*100)
rate_mi4_act=(mi4_act/mi4_total*100)
rate_mi4_term=(mi4_term/mi4_total*100)

mi_dict={}

mi_dict['factor'] = 'Monthly Income'
mi_dict['category'] = [labels]
mi_dict['counts'] = [mi1_total, mi2_total, mi3_total, mi4_total]
mi_dict['Active'] = [rate_mi1_act, rate_mi2_act, rate_mi3_act, rate_mi4_act]
mi_dict['Terminated'] = [rate_mi1_term, rate_mi2_term, rate_mi3_term, rate_mi4_term]

In [ ]:
# Stock Options
so_df=df.groupby(["Stock Option Level","Employment Status"]).count().reset_index()

In [ ]:
so=so_df["Age"].astype(float)

In [ ]:
actso1 = so[0]
terso1 = so[1]
allso1 = so[0] + so[1]
actso2 = so[2]
terso2 = so[3]
allso2 = so[2] + so[3]
actso3 = so[4]
terso3 = so[5]
allso3 = so[4] + so[5]
actso4 = so[6]
terso4 = so[7]
allso4 = so[6] + so[7]

rate_actso1 = (actso1/allso1*100).round(1)
rate_actso2 = (actso2/allso2*100).round(1)
rate_actso3 = (actso3/allso3*100).round(1)
rate_actso4 = (actso4/allso4*100).round(1)
rate_termso1 = (terso1/allso1*100).round(1)
rate_termso2 = (terso2/allso2*100).round(1)
rate_termso3 = (terso3/allso3*100).round(1)
rate_termso4 = (terso4/allso4*100).round(1)

so_dict = {}

so_dict['factor'] = 'Stock Option Level'
so_dict['category'] = ['1','2','3','4']
so_dict['counts'] = [allso1,allso2,allso3,allso4]
so_dict['Active'] = [rate_actso1, rate_actso2, rate_actso3, rate_actso4]
so_dict['Terminated'] = [rate_termso1, rate_termso2, rate_termso3, rate_termso4]

In [ ]:
bins = [0,1,3,5,7]
labels=['None','1 or 2', '3 or 4', '5 or 6']

groupsT = df.groupby(['Employment Status', pd.cut(df['Training Last Year'], bins=bins, labels=labels)])
tr=groupsT.size().reset_index().rename(columns={0:"Count","Training Last Year":"Trainings Last Year"})
tr.head(8)

In [ ]:
tr1_act=int(tr.iloc[0,2])
tr1_term=int(tr.iloc[4,2])
tr1_total=int((tr1_act + tr1_term))
tr2_act=int(tr.iloc[1,2])
tr2_term=int(tr.iloc[5,2])
tr2_total=int((tr2_act + tr2_term))
tr3_act=int(tr.iloc[2,2])
tr3_term=int(tr.iloc[6,2])
tr3_total=int((tr3_act + tr3_term))
tr4_act=int(tr.iloc[3,2])
tr4_term=int(tr.iloc[7,2])
tr4_total=int((tr4_act + tr4_term))

rate_tr1_act=(tr1_act/tr1_total*100).round()
rate_tr1_term=(tr1_term/tr1_total*100)
rate_tr2_act=(tr2_act/tr2_total*100)
rate_tr2_term=(tr2_term/tr2_total*100)
rate_tr3_act=(tr3_act/tr3_total*100)
rate_tr3_term=(tr3_term/tr3_total*100)
rate_tr4_act=(tr4_act/tr4_total*100)
rate_tr4_term=(tr4_term/tr4_total*100)

tr_dict={}

tr_dict['factor'] = 'Monthly Income'
tr_dict['category'] = [labels]
tr_dict['counts'] = [tr1_total, tr2_total, tr3_total, tr4_total]
tr_dict['Active'] = [rate_tr1_act, rate_tr2_act, rate_tr3_act, rate_tr4_act]
tr_dict['Terminated'] = [rate_tr1_term, rate_tr2_term, rate_tr3_term, rate_tr4_term]

In [ ]:
bins = [0, 10, 20, 30]
labels=['<10 mi','10-19 mi','20-29 mi']
groups = df.groupby(['Employment Status', pd.cut(df['Commute (Miles)'], bins=bins, labels=labels)])
cm=groups.size().reset_index().rename(columns={0:"Count"})
cm.head(6)

In [ ]:
cm1_act=int(cm.iloc[0,2])
cm1_term=int(cm.iloc[3,2])
cm1_total=int((cm1_act + cm1_term))
cm2_act=int(cm.iloc[1,2])
cm2_term=int(cm.iloc[4,2])
cm2_total=int((cm2_act + cm2_term))
cm3_act=int(cm.iloc[2,2])
cm3_term=int(cm.iloc[5,2])
cm3_total=int((cm3_act + cm3_term))

In [ ]:
rate_cm1_act=(cm1_act/cm1_total*100)
rate_cm1_term=(cm1_term/cm1_total*100)
rate_cm2_act=(cm2_act/cm2_total*100)
rate_cm2_term=(cm2_term/cm2_total*100)
rate_cm3_act=(cm3_act/cm3_total*100)
rate_cm3_term=(cm3_term/cm3_total*100)

In [ ]:
cm_dict={}

cm_dict['factor'] = 'Commute (Miles)'
cm_dict['Category'] = [labels]
cm_dict['Count'] = [cm1_total, cm2_total, cm3_total]
cm_dict['Active'] = [rate_cm1_act, rate_cm2_act, rate_cm3_act]
cm_dict['Terminated'] = [rate_cm1_term, rate_cm2_term, rate_cm3_term]